<div class="user-card">
  <div class="user-actions">
    <div class="edit" title="edit" (click)="onEdit()">
      <img src="" alt="edit">
    </div>
    <div class="delete" title="delete" (click)="onDelete()">
      <img src="" alt="delete">
    </div>
  </div>
  <h2 class="user.name">{{user.name}}</h2>
  <div class="user-details">
    <p><strong>Username: </strong> {{user.username}}</p>
    <p><strong>Email: </strong>{{user.email}}</p>
    <p><strong>Phone: </strong>{{user.phone}}</p>
    <p>
      <strong>Website: </strong>
      <a href="http://{{user.website}}" target="blank" class="user.link">
        {{user.website}}
      </a>
    </p>
  </div>
</div>

<div class="modal" *ngIf="isEditModalOpen">
  <div class="model-content">
    <div class="modal-header">
      <h2>Edit User</h2>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <label for="edit-name">Name: </label>
      <input 
        type="text"
        id="edit-name"
        [(ngModel)]="editUser.name"
        placeholder="Enter name"
        required
      >

      <label for="edit-username">Username: </label>
      <input 
        type="text"
        id="edit-username"
        [(ngModel)]="editUser.username"
        placeholder="Enter username"
        required
      >

      <label for="edit-email">Email: </label>
      <input 
        type="text"
        id="edit-email"
        [(ngModel)]="editUser.email"
        placeholder="Enter email"
        required
      >

      <label for="edit-phone">Phone: </label>
      <input 
        type="text"
        id="edit-phone"
        [(ngModel)]="editUser.phone"
        placeholder="Enter phone number"
        required
      >
      <label for="edit-website">Website: </label>
      <input 
        type="text"
        id="edit-website"
        [(ngModel)]="editUser.website"
        placeholder="Enter website"
        required
      >
    </div>
    <div class="modal-footer">
      <button (click)="saveChanges()">Save Changes</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
